.load {
  padding-top: 50px;
}

.wrapper {
  border-radius: 5px;
  width: 100%;
  max-width: 1240px;
  margin: 20px auto 0;
  color: black;
  padding: 0 20px 20px;
}

.button {
  margin: 20px auto 0;
  display: block;
  border: 1px solid #007242;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #007242;
  color: #d2fadf;
  transition: all 0.3s;
}

.button:hover {
  color: #007242;
  background-color: #d2fadf;
}

.buttonNone {
  display: none;
}
