* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--black);
  background: #f5f6f8;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
